---
http_interactions:
- request:
    method: post
    uri: https://us7.api.mailchimp.com/2.0/campaigns/create
    body:
      encoding: UTF-8
      string: ! '{"apikey":"<API_KEY>","type":"regular","options":{"list_id":"88300e1d4f","subject":"A
        Test Email","from_name":"Test","from_email":"matt@mdswanson.com","generate_text":true,"template_id":34557},"content":{"sections":{"main":"<p>This
        is a test email with some <em>Markdown</em> and a <a href=\"http://google.com\">link</a>.</p>\n"}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '

        {"id":"c838606511","web_id":172045,"list_id":"88300e1d4f","folder_id":0,"template_id":34557,"content_type":"template","content_edited_by":"matt
        swanson","title":"A Test Email","type":"regular","create_time":"2013-09-25
        15:51:19","send_time":null,"content_updated_time":"2013-09-25 15:51:20","status":"save","from_name":"Test","from_email":"matt@mdswanson.com","subject":null,"to_name":"","archive_url":"http:\/\/eepurl.com\/FTqyL","archive_url_long":"http:\/\/us7.campaign-archive2.com\/?u=97cf7c859d9879d874ba9e34e&id=c838606511","emails_sent":0,"inline_css":false,"analytics":"N","analytics_tag":"","authenticate":false,"ecomm360":false,"auto_tweet":false,"auto_fb_post":"","auto_footer":false,"timewarp":false,"timewarp_schedule":null,"tracking":{"html_clicks":true,"text_clicks":true,"opens":true},"parent_id":"","tests_sent":0,"tests_remain":12,"segment_text":"No
        segment used","segment_opts":[],"type_opts":[]}'
  recorded_at: Wed, 25 Sep 2013 15:51:20 GMT
- request:
    method: post
    uri: https://us7.api.mailchimp.com/2.0/campaigns/schedule
    body:
      encoding: UTF-8
      string: ! '{"apikey":"<API_KEY>","cid":"c838606511","schedule_time":"2014-12-30
        20:30:00"}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '

        {"complete":true}'
  recorded_at: Wed, 25 Sep 2013 15:51:21 GMT
recorded_with: VCR 2.5.0
