---
http_interactions:
- request:
    method: post
    uri: https://us7.api.mailchimp.com/2.0/lists/list
    body:
      encoding: UTF-8
      string: ! '{"apikey":"<API_KEY>","filters":{"listname":"Blog newsletter"},"limit":1}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '

        {"total":1,"data":[{"id":"88300e1d4f","web_id":97817,"name":"Test list","date_created":"2013-09-25
        15:45:30","email_type_option":false,"use_awesomebar":true,"default_from_name":"Matt","default_from_email":"swan3788@gmail.com","default_subject":"","default_language":"en","list_rating":0,"subscribe_url_short":"http:\/\/eepurl.com\/FTpmr","subscribe_url_long":"http:\/\/github.us7.list-manage2.com\/subscribe?u=97cf7c859d9879d874ba9e34e&id=88300e1d4f","beamer_address":"OTdjZjdjODU5ZDk4NzlkODc0YmE5ZTM0ZS0xYmU1NDY1NC1hZWE5LTQ3MjMtOWUxYy1lMGRhZGEzMzUzYjE@campaigns.mailchimp.com","visibility":"pub","stats":{"member_count":0,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":0,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":1,"grouping_count":0,"group_count":0,"merge_var_count":2,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"date_last_campaign":null},"modules":[]}],"errors":[]}'
  recorded_at: Wed, 25 Sep 2013 15:51:21 GMT
recorded_with: VCR 2.5.0
